
$fm: 'form';

#{$fm}{
	.#{$fm}-control{
		width: 100%;
		display: flex;
		justify-content: space-around;
		font-size: 15px;
		border: none;
		border-bottom: 1px solid #999;
	}
	
	input{
		padding: 1px;
		margin-bottom: 10px;
	}
	input:focus{
		outline: none;
	}
	label{
		margin-bottom: 5px;
	}
	.#{$fm}-field{
		padding-bottom: 15px;
	}
}